.chart-container {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  #chart {
    height: 100%;
    margin-left: -35%;
  }
  
  .chart-legend {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10%;
  }
  
  .chart-legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 1%;
  }
  
  .chart-legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .chart-legend-label {
    font-size: 14px;
  }
<!--
  .chart-legend-color, .chart-legend-label {
  animation: scale 1s ease-in-out infinite alternate;
}

@keyframes scale {
  0% { transform: scale(0.8); }
  50% { transform: scale(1); }
  100% { transform: scale(1); }
}


.chart-legend-item {
  animation: slide 3s ease-in-out infinite alternate;
}

@keyframes slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(0); }
}

chart-legend-label {
  animation: expand 3s ease-in-out infinite alternate;
}

@keyframes expand {
  0% { opacity: 0; transform: scale(0.5); }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.5); }
}

#chart {
  animation: transform 3s ease-in-out infinite alternate;
}

@keyframes transform {
  0% { transform: scale(1) translateX(25%); }
  50% { transform: scale(1) translateX(0); }
  100% { transform: scale(1) translateX(5%); }
}